body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #F3F2FA;
    position: relative;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.header {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
}

.header .header__link {
    color: #DBDBDB;
    font-weight: 300;
    text-decoration: none;
}

.header .header__link:last-child {
    margin-right: 312px;
}

.header .header__logo {
    margin-right: 250px;
}

.button {
    border-radius: 54px;
    width: 263px;
    height: 88px;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    color: #F3F2FA;
    background: #16C0FD;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    transform: scale(1.05);
}

.button-primary {
    font-weight: normal;
    background: none;
    border: 5px solid #16C0FD;
}

.input {
    border: 3px solid #16C0FD;
    border-radius: 54px;
    font-weight: 200;
    background: none;
    outline: none;
    color: #F3F2FA;
    padding: 30px 40px;
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 560px;
}

.form .form__title {
    margin-top: 83px;
    margin-bottom: 58px;
    font-weight: 900;
    font-size: 57px;
    line-height: 70px;
}

.form .form__content {
    margin-bottom: 50px;
    border: 3px solid #16C0FD;
    border-radius: 54px;
    font-weight: 200;
    background: none;
    outline: none;
    color: #F3F2FA;
    padding: 30px 40px;
    font-size: 18px;
    overflow: hidden;
    width: 100%;
}

.form .form__content .button {
    margin-top: 33px;
    border-radius: 29px;
    border: 3px solid #16C0FD;
    width: 166px;
    height: 26px;
    font-size: 14px;
    padding: 0px 20px;
    line-height: 16px;
    color: #16C0FD;
    font-weight: 300;
}

.form .form__radio {
    display: block;
    margin-left: 46px;
    cursor: pointer;
}

.form .form__question {
    display: block;
}

.form .form__input {
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: -6px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #16C0FD;
    color: #F3F2FA;
    overflow: hidden;
    width: 219px;
    padding: 3px;
}

.form .form__answer {
    margin-top: 55px;
    display: flex;
}

.form .form__buttons {
    margin-bottom: 193px;
}

.form .form__buttons .button:first-child {
    margin-right: 25px;
}